@import url("https://fonts.googleapis.com/css?family=Robot&display=swap");

header{
    text-align: center;
    margin-top: 100px;
    border-top:solid yellow;
}
main{
    text-align: center;
}
footer{
    text-align:center;
    border-bottom: solid white;
}
body{
    background:teal;
    color: white;
    font-family: "Roboto", sans-serif;
}
.judul-about{
    color:blue;
}
.judul-blog{
    color: burlywood;
}
.judul-contact{
    color: fuchsia;
}